body {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #5d5d5d;
        }

        .wrapper {
            background-image: url('new-york-city-336475_1920.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
     
            height: 800px;
            display: flex;
            flex-direction: column;
        }

        .container {
            height: 100%;
            padding: 2% 7%;
        }

        .container__logo--img {
            width: 253px;
            height: 75px;
        }

        .bold {
            font-weight: bold;
        }

        .container__title-title {
            color: #fff;
            font-size: 2.6rem;
            line-height: 2.9rem;
        }

        .container__title-title--uppercase {
            text-transform: uppercase;
            font-size: 2.8rem;
        }

        .container__title-title--blue {
            text-transform: uppercase;
            color: #3997c5;
        }

        .wrapper__footer {
            display: flex;
            flex-direction: row;
            background-color: rgba(245, 244, 244, 0.95);
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            padding: 20px 0 20px 0;
            -webkit-box-shadow: 0 8px 6px -6px rgb(202, 202, 202);
            -moz-box-shadow: 0 8px 6px -6px rgb(202, 202, 202);
            box-shadow: 0 8px 6px -6px rgb(202, 202, 202);
            position: relative;
            z-index: 2;
        }

        .white-bg {
            background-color: rgba(255, 255, 255, 1) !important;
        }

        .wrapper__footer-item {
            margin: 0 3%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .wrapper__footer-item--img {
            width: 94px;
            height: 60px;
        }

        .wrapper__footer-item--text {
            font-weight: bold;
            font-size: 1.1rem;
            color: #5d5d5d;
        }

        .container__box {
            background-color: #57c2eb;
            width: 400px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 10%;
        }

        .footer {
            background-color: #f5f4f4;
            padding-top: 4%;
        }

        .footer__text {
            color: #666666;
            font-size: .6rem;
            margin-bottom: 20px;
            padding: 0 8%;
        }

        .footer__text>a {
            color: #666666;
            font-size: .6rem;
        }

        .footer__text--bold {
            font-weight: bold;
            font-size: .7rem;
        }

        .footer__copyright {
            font-size: .8rem;
            text-align: center;
            padding: 8px 0;
            background-color: white;
            border-top: .5px solid rgb(158, 158, 158);
            border-left: .5px solid rgb(158, 158, 158);
            border-right: .5px solid rgb(158, 158, 158);
            -webkit-box-shadow: inset 0px 2px 16px -2px rgba(138, 138, 138, 1);
            -moz-box-shadow: inset 0px 2px 16px -2px rgba(138, 138, 138, 1);
            box-shadow: inset 0px 6px 4px -5px rgba(138, 138, 138, 1);
        }

        .container__box--slider {
            margin-top: 10%;
            text-align: center;
        }

        .slider__range--title {
            color: #fff;
            font-size: .9rem;
        }

        .slider__range--output {
            color: #fff;
            font-size: 2.4rem;
        }

        .section-container {
            display: block;
        }

        .none {
            display: none;
            height: 0;
        }

        input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            background: transparent;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        .slider {
            position: relative;
            max-width: 300px;
            margin: 0 auto;
            height: 6px;
            border: none;
            border-radius: 5px;
            background-color: #cecece;
            top: 20px;
        }

        .slider__range--color {
            position: absolute;
            -webkit-appearance: none;
            z-index: 1;
            background-color: #3997c5;
            background-repeat: repeat-x;
            height: 6px;
            top: 0px;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            position: relative;
            z-index: 10;
            border: 2px solid rgb(233, 233, 233);
            font-weight: bold;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            top: -12px;
            background-color: #3997c5;
        }

        input[type=range]::-moz-range-thumb {
            -webkit-appearance: none;
            cursor: pointer;
            position: relative;
            z-index: 10;
            border: 2px solid rgb(233, 233, 233);
            font-weight: bold;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            top: -12px;
            background-color: #3997c5;
        }

        input[type=range]::-webkit-slider-thumb:hover {
            border: 1px solid #256180;
            color: #fff;
            font-weight: bold;
        }

        .container__box--button {
            position: relative;
            top: 10%;
            height: 90px;
            cursor:pointer;
        }

        .button__container {
      
            background-color: #40aa35;
            width: 45%;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.1rem;
            padding: 2% .8%;
            border-radius: 5px;
            font-weight: bold;      
       
        }
    
        .high-price-info {
            display: none;
            top: 10px;
            font-size: .8rem;
            color: rgb(187, 3, 3);
            text-align: center;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        td,
        th {
            padding: 0;
        }

        b,
        strong {
            font-weight: bold;
        }

        .RRSO-link {
            text-align: center;
            color: #fff;
            font-size: 11px;
            text-decoration: underline;
            cursor: pointer;
            position: relative;
            z-index: 1;
            padding-bottom: 10px;
        }

        .RRSO {
            display: none;
            position: absolute;
            width: 100%;
            height: 90%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 1001;
            overflow: auto;
        }

        .costs {
            display: none;
            position: absolute;
            width: 100%;
            height: 90%;
            left: 0px;
            right: 0px;
            top: 100px;
            bottom: 0px;
            z-index: 1003;
            overflow: auto;
        }

        .legal-note {
            display: none;
            position: absolute;
            width: 100%;
            height: 90%;
            left: 0px;
            right: 0px;
            top: 100px;
            bottom: 0px;
            z-index: 1002;
            overflow: auto;
        }

        .standard-info-wrapper {
            position: relative;
            background: white;
            margin: 30px auto;
            padding: 10px 30px;
        }

        .narrow {
            width: 50%;
        }

        .close {
            color: #3996c4;
            position: absolute;
            top: -10px;
            right: 10px;
            font-size: 38px;
            text-shadow: 1px 1px 1px #828282;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .container__box--summary {
            padding: 1% 0 2% 0;
            background-color: #ffffff;
        }

        .summary__box {
            margin: 1% 0;
            padding: 0 2%;
            background-color: #f5f4f4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: .95rem;
        }

        .summary__link {
            text-align: center;
            font-size: 11px;
            text-decoration: underline;
            cursor: pointer;
        }

        .second {
            display: none;
            background-color: #f5f4f4;
        }